<!DOCTYPE html>
<html lang="ru">
	{% include head.html %}
	<body class="is-loading">
		<!-- Header -->
		{% include header.html %}
		<!-- Nav -->
		{% include nav.html %}
		<!-- Main -->
		<div id="wrapper">
			<article>
				<div class="container">
					
					<section class="items">
						<a href="/project" class="item">
							<picture>
								<source media="(max-width: 480px)" srcset="/images/pic34_2.jpg" />
								<source media="(min-width: 481px)" srcset="/images/pic169_2.jpg" />
								<img class="image fit fw" src="/images/pic169_2.jpg"/>
							</picture>
							<div class="caption">
								<div>
									<h2>Каркасный эконом дуплекс TM-120</h2>
									<h3>Современное говно для пидоров</h3>
								</div>
								<div>
									<p>120 м<sup>2</sup></p>
								</div>
							</div>
						</a>
						<a href="#" class="item">
							<picture>
								<source media="(max-width: 480px)" srcset="/images/pic34_2.jpg" />
								<source media="(min-width: 481px)" srcset="/images/pic169_2.jpg" />
								<img class="image fit fw" src="/images/pic169_2.jpg"/>
							</picture>
							<div class="caption">
								<div>
									<h2>Каркасный эконом дуплекс TM-120</h2>
									<h3>Современное говно для пидоров</h3>
								</div>
								<div>
									<p>120 м<sup>2</sup></p>
								</div>
							</div>
						</a>
						<a href="#" class="item">
							<picture>
								<source media="(max-width: 480px)" srcset="/images/pic34_2.jpg" />
								<source media="(min-width: 481px)" srcset="/images/pic169_2.jpg" />
								<img class="image fit fw" src="/images/pic169_2.jpg"/>
							</picture>
							<div class="caption">
								<div>
									<h2>Каркасный эконом дуплекс TM-120</h2>
									<h3>Современное говно для пидоров</h3>
								</div>
								<div>
									<p>120 м<sup>2</sup></p>
								</div>
							</div>
						</a>
						<a href="#" class="item">
							<picture>
								<source media="(max-width: 480px)" srcset="/images/pic34_2.jpg" />
								<source media="(min-width: 481px)" srcset="/images/pic169_2.jpg" />
								<img class="image fit fw" src="/images/pic169_2.jpg"/>
							</picture>
							<div class="caption">
								<div>
									<h2>Каркасный эконом дуплекс TM-120</h2>
									<h3>Современное говно для пидоров</h3>
								</div>
								<div>
									<p>120 м<sup>2</sup></p>
								</div>
							</div>
						</a>
						<a href="#" class="item">
							<picture>
								<source media="(max-width: 480px)" srcset="/images/pic34_2.jpg" />
								<source media="(min-width: 481px)" srcset="/images/pic169_2.jpg" />
								<img class="image fit fw" src="/images/pic169_2.jpg"/>
							</picture>
							<div class="caption">
								<div>
									<h2>Каркасный эконом дуплекс TM-120</h2>
									<h3>Современное говно для пидоров</h3>
								</div>
								<div>
									<p>120 м<sup>2</sup></p>
								</div>
							</div>
						</a>
						<a href="#" class="item">
							<picture>
								<source media="(max-width: 480px)" srcset="/images/pic34_2.jpg" />
								<source media="(min-width: 481px)" srcset="/images/pic169_2.jpg" />
								<img class="image fit fw" src="/images/pic169_2.jpg"/>
							</picture>
							<div class="caption">
								<div>
									<h2>Каркасный эконом дуплекс TM-120</h2>
									<h3>Современное говно для пидоров</h3>
								</div>
								<div>
									<p>120 м<sup>2</sup></p>
								</div>
							</div>
						</a>
					</section>
					<header class="main-header">
						<h1>{{page.page_title}}</h1>
					</header>
					{{content}}
					<a id='backtotop' href="#">Наверх</a>
				</div>
			</article>
		</div>
		<!-- Footer -->
		{% include footer.html %}
		<!-- Scripts -->
		{% include scripts.html %}
	</body>
</html>