<!DOCTYPE html>
<html lang="ru">
	{% include head.html %}
	<body class="is-loading">
		<!-- Header -->
		{% include header.html %}
		<!-- Nav -->
		{% include nav.html %}
		<!-- Main -->
		<div id="wrapper">
			<article>
				<div class="container">
					
					<section class="items">
						<a href="#" class="item">
							<header>
								<img class="image fit" src="/images/pic169.jpg"/>
							</header>
							<footer>
								<div>
									<h2>Каркасный эконом дуплекс TM-120</h2>
									<h3>Современное говно для пидоров</h3>
								</div>
								<div>
									<p>120 м<sup>2</sup></p>
								</div>
							</footer>
						</a>
						<a href="#" class="item">
							<header>
								<img class="image fit" src="/images/pic169_2.jpg"/>
							</header>
							<footer>
								<div>
									<h2>Каркасный эконом дуплекс TM-120</h2>
									<h3>Современное говно для пидоров</h3>
								</div>
								<div>
									<p>120 м<sup>2</sup></p>
								</div>
							</footer>
						</a>
						<a href="#" class="item">
							<header>
								<img class="image fit" src="/images/pic169_3.jpg"/>
							</header>
							<footer>
								<div>
									<h2>Доходный дом на 8 квартир-студий MK-208</h2>
									<h3>Современное говно для пидоров</h3>
								</div>
								<div>
									<p>120 м<sup>2</sup></p>
								</div>
							</footer>
						</a>
						<a href="#" class="item">
							<header>
								<img class="image fit" src="/images/pic169_2.jpg"/>
							</header>
							<footer>
								<div>
									<h2>Каркасный эконом дуплекс TM-120</h2>
									<h3>Современное говно для пидоров</h3>
								</div>
								<div>
									<p>120 м<sup>2</sup></p>
								</div>
							</footer>
						</a>
						<a href="#" class="item">
							<header>
								<img class="image fit" src="/images/pic169_3.jpg"/>
							</header>
							<footer>
								<div>
									<h2>Доходный дом на 8 квартир-студий MK-208</h2>
									<h3>Современное говно для пидоров</h3>
								</div>
								<div>
									<p>120 м<sup>2</sup></p>
								</div>
							</footer>
						</a>
						<a href="#" class="item">
							<header>
								<img class="image fit" src="/images/pic169.jpg"/>
							</header>
							<footer>
								<div>
									<h2>Каркасный эконом дуплекс TM-120</h2>
									<h3>Современное говно для пидоров</h3>
								</div>
								<div>
									<p>120 м<sup>2</sup></p>
								</div>
							</footer>
						</a>
					</section>
					<header class="main-header">
						<h1>{{page.page_title}}</h1>
					</header>
					{{content}}
					<a id='backtotop' href="#">Наверх</a>
				</div>
			</article>
		</div>
		<!-- Footer -->
		{% include footer.html %}
		<!-- Scripts -->
		{% include scripts.html %}
	</body>
</html>